<h2>Welcome <%= @first_name %></h2>


<div class="card-title2">
<h5 class="card-text"> <%= @gossip[:author] %></h5>
</div>

<div class="card-title2">
<p class="card-title"> <%= @gossip[:content] %></p>
</div>


<div class="card-title2">
<p class="card-title"> <%= @gossip[:created_at] %></p>
</div>