// Place all the styles related to the gossip controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.card-title2
{

    background-color:#898989;
	margin-top: 30px;
	margin-right: 20px;
	margin-left: 20px;
	word-wrap: break-word;


    flex: 1 1 auto;
    padding: 1.25rem;

}

